.warning-color {
    color: rgb(255, 60, 60);
}

.warning-text {
    font-weight: 500;
    font-size: 1.5rem;
    // margin-bottom: 1.5rem;
}

.pop-padding {
    padding: .6rem .3rem;
}

hr {
      border: 0.1px solid #eee;
      margin: 1rem 1rem;
}